<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raport">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raport"
        tools:targetApi="31">
        <activity
            android:name=".Siswa"
            android:exported="false" />
        <activity
            android:name=".TambahSiswa"
            android:exported="false" />
        <activity
            android:name=".MenuInputData"
            android:exported="false" />
        <activity
            android:name=".MenuHasilSiswa"
            android:exported="false" />
        <activity
            android:name=".LoginAkun"
            android:exported="false" />
        <activity
            android:name=".EditSiswa"
            android:exported="false" />
        <activity
            android:name=".EditProfil"
            android:exported="false" />
        <activity
            android:name=".DetailSiswa"
            android:exported="false" />
        <activity
            android:name=".DaftarAkun"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>